/*body{
	background-image: url("../img/back.png");
	text-align: center;

}

h1.it{
	padding-top: 50px;
	padding-bottom: 30px;
    color: limegreen;

}
section{
    width: 900px;
    margin: auto;
}
form{

	width: auto;

	padding-top: 30px;
	padding-bottom: 50px;


}
button{
    margin-bottom: 60px;
}*/

section.info > *{
	margin-top: 7px;
	margin-bottom: 7px;
}

section form{
	/*background-color: #eee;*/
	padding-top: 40px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 30px;
/*	margin-bottom: 250px;
*/
}

article{
	margin-top: 50px;
}


footer{
	text-align: center;
	height: 70px;
	padding: 15px;

}
.bn{
    margin: 15px;
    /*max-width: 30px;*/
    /*max-height: 15px;*/
}

.form_field{
    margin-bottom: 10px;
}
