{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>
        ورود به سایت
    </title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" type="text/css" href="../../static/users/css/user.css">
    <link rel="stylesheet" href="../../../../../bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    شادان
                </a>
            </div>
        </div>
    </nav>

    <article class="container">
        <main class="col-xs-12 col-sm-6 col-md-12">
            <div class="blog-header , col-md-12">
                <h1 class="blog-title">
                    شادان
                </h1>
                <p class="lead blog-description">
                    شما می توانید گردش های مورد علاقه خود را بیابید و به اشتراک بگذارید.
                </p>
            </div>

            <section class= "info , col-md-6 ">
                <div class="col-md-12 , error_payam">
                    {% if wrong_user_pass %}
                        <p>
                        نام کاربری یا رمز عبور اشتباه است.
                        </p>
                    {% endif %}
                </div>

                <form method="post" action="" class="col-md-12">
                    {% csrf_token %}
                <div class="col-md-12 , form_field">
                    <label for="inputEmail3" class="col-md-2 control-label , inputError1">
                        نام کاربری
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control , inputError1" name="username" id="inputEmail3" placeholder="username">
                    </div>
                </div>

                <div class="col-md-12 , form_field">
                    <label for="inputEmail3" class="col-md-2 control-label , inputError1">
                        رمز عبور
                    </label>
                    <div class="col-md-10">
                        <input type="password" class="form-control , inputError1" id="inputEmail3" name="pwd" placeholder="password">
                    </div>
                </div>

                <div class="col-md-10 , pull-right">
                    <input class="btn btn-success"  value="SignIn" role="button" type="submit">
                    <input class="btn btn-default" type="submit"  name ="signup" role="button" value="SignUp">
                    <input type="submit"  name="forget" class="btn btn-link" value="ForgerPassword">
                </div>
                </form>
            </section>
        </main>
    </article>

    <footer class="bs-docs-footer , col-md-12 , bg-info , initialism">
    این سامانه توسط شرکت تحلیلگران طراحی گشته است.
     <br>
تمامی حقوق آن محفوظ است.
    </footer>
    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>